@import 'src/themes.scss';

.miniholder{
    display: flex;
    flex-direction: row;
    margin-block: 1rem;
    border-radius: 20px;
    color: #fff;
}
.colorminiholder1{
background: $clr-yeellow;
color: black;
margin-inline: 1rem;
}
.colorminiholder2{
background: $clr-tertiary;
margin-inline: 1rem;
}
.colorminiholder3{
background: $clr-secondary;
margin-inline: 1rem;
}

.maincontainer{
    display: grid; 
}

#number{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
}
.holder2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#images{
    width: 25rem;
height: 15rem;
border-radius: 12px;
}
#imagescustomised{
    max-width: 20rem;
    height: 20rem;
    border-radius: 12px;
}
#m{
    padding-inline: 1rem;
}
#paramargin{
    padding-inline:10rem ;
    margin-block: 2rem;
    font-family: myHeadingFont;
}
#paddingparagraphs{
    padding: .3rem;
}
.bg-yellow{
    background: url('/assets/event1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    background: #ffffff85;
}
.margincard{
    margin-block: 1rem;
}
.paddingicon{
    padding-right: 1rem;
}
.uppercontainer{
    background: #ffffff85;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    margin-inline: .5rem;
}
@media (min-width:60em) {
    #imagescustomised{
    width: 32rem;
    height: 25rem;
    border-radius: 12px;
}
    .maincontainer{
        grid-template-columns: repeat(2, 1fr);   
    }
    #questionspad{
        padding-inline: 17rem;
    }
    .quote-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        gap: 1rem;
        padding: 1rem;
    }
}
@media (max-width:60em) {
    #images{
        width: 85%;
        height: 20rem;
    }
    #paramargin{
        padding-inline:1rem ;
        margin-block: 1rem;
        font-family: myHeadingFont;
    }
}