<div class="maincontainer">
  <div class="holder1">
    <h4>WHY SHOULD YOU CHOOSE US?</h4>
    <h1>KEY BENEFITS</h1>
    <div class="miniholder">
      <span id="number">01</span>
      <div>
        <h2>Work within your budget</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, quo
          atque accusamus hic sequi delectus porro! Molestiae, vero suscipit.
          Sunt amet consequuntur praesentium distinctio, optio dolorum at
          voluptatum. Eius, necessitatibus.
        </p>
      </div>
    </div>
    <div class="miniholder">
      <span id="number">02</span>
      <div>
        <h2>Work within your budget</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, quo
          atque accusamus hic sequi delectus porro! Molestiae, vero suscipit.
          Sunt amet consequuntur praesentium distinctio, optio dolorum at
          voluptatum. Eius, necessitatibus.
        </p>
      </div>
    </div>
    <div class="miniholder">
      <span id="number">03</span>
      <div>
        <h2>Work within your budget</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, quo
          atque accusamus hic sequi delectus porro! Molestiae, vero suscipit.
          Sunt amet consequuntur praesentium distinctio, optio dolorum at
          voluptatum. Eius, necessitatibus.
        </p>
      </div>
    </div>
  </div>
  <div class="holder2">
    <img src="../.././assets/testimonial.svg" alt="" srcset="">
  </div>
</div>
<div class="maincontainer bg-dark">
  <div class="holder2">
    <img id="images" src="../.././assets/idea.gif" alt="" srcset="">
  </div>
  <div id="m">
    <h2>EXCEPTIONAL SOLUTIONS</h2>
    <H4>Our ever ready experts</H4>
    <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,
      reiciendis ex sed corporis labore deserunt voluptatem, provident veritatis
      commodi quam aspernatur! Rerum est assumenda quam aliquid. Quas, molestias
      iste! Commodi.
    </span>
    <div class="statistics">
      <div class="statistics1">
        <div>
          <span>24/7</span>
        </div>
        <div>
          <p>Round the clock help wherever you need it</p>
        </div>
      </div>
      <div class="statistics1">
        <span>24/7</span>
        <p>Round the clock help wherever you need it</p>
      </div>
      <div class="statistics1">
        <span>24/7</span>
        <p>Round the clock help wherever you need it</p>
      </div>
    </div>
  </div>
</div>
<div class="maincontainercustomised">
  <h2>svg here</h2>
  <div>
    <h2>GOT QUESTIONS?</h2>
  </div>
  <div>
    <p id="questionspad">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis facere
      molestiae quisquam expedita quo, fuga necessitatibus quidem eos, earum
      praesentium eum. Eos aspernatur ut expedita suscipit ratione a, ducimus
      eum.
    </p>
    <div class="questionsemailcontainer">
        <form class="questionsemail">
          <label for="">please type your question here</label>
            <input type="textarea" id="questionsemail">
            <label>you like us to call you?</label> 
            <input type="text">
            <a type="button" id="submitcontainerbutton">submit</a>
            
        </form>

    </div>
    
  </div>
</div>
<div class="maincontainer customised">
  <div class="wordsfirst">
    <h3>Quick tips?</h3>
    <span><h1>EXPERTS EXPLAIN </h1></span>
    <span><h1>HOW TO SPICE UP YOUR EVENTS</h1></span>
    <a type="button" id="expertsexplain">learn more</a>
    <h3>eventplanning.com</h3>
  </div>
  <div class="second-svg">
    <img src="../.././assets/community.svg" alt="" srcset="">
  </div>
</div>
