<app-navbar></app-navbar>
<div class="center">
  <h2 class="overall-headings fonts"> Why choose us?</h2>
</div>
<div class="center">
  <h3>These are three top reasons why we are good at what we do <fa-icon [icon]="thumbsUp"></fa-icon></h3>
</div>
<div class="maincontainer">
  <div class="holder2">
    <img src="./assets/team.gif" loading="lazy" alt="" id="imagescustomised" srcset="">
  </div>
<div class="holder1"  > 
  
  <div class="miniholder colorminiholder3">
    <span id="number">01</span>
    <div>
      <h2>constant repetition eauals perfection</h2>
      <p id="paddingparagraphs">
        Our years in the field have brought with them some useful experience which comes in handy to ensuring that the 
        expectations are met if not exceeded. From the outdoors to indoors we are the masters
        of the perfection theme. There is a lot to worry about in life, just not the day you have entrusted us with.
      </p>
    </div>
  </div>
  <div class="miniholder colorminiholder2" data-aos="fade-right">
    <span id="number">02</span>
    <div>
      <h2>Work within your budget</h2>
      <p id="paddingparagraphs">
        Over the years we have worked really hard to ensure that we have attained what pretty much every other 
        event planner does not have and that is inclusivity. We ensure we accomodate all kind of budgets and have long term financial options
        to ensure we give a chance for the client to commit.
      </p>
    </div>
  </div>
  <div class="miniholder colorminiholder1" data-aos="fade-left">
    <span id="number">03</span>
    <div>
      <h2>Exposure to culture</h2>
      <p id="paddingparagraphs">
        Our Education has allowed us in the presence of many people, our connections have given us rare access to 
        an education of culture whuch has given us an insight of what to do and what not to in different communities. 
      </p>
    </div>
  </div>
</div>
</div>
<div class="center">
  <p id="paramargin">Pro Tip: Are you facing trouble in setting up milestones for your events? Don’t you worry! You can do it in a few clicks with, our help | It’s about time you cross your events to perfection!</p>
</div>
<div class="center">
  <img id="images" src="https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dGVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" loading="lazy" alt="" srcset="">
</div>
<div class="center">
  <p id="paramargin">Please contact us for guidance and queries</p>
</div>
<div class="center">
  <a routerLink="/contactus" class="primary-button">contact us</a>
</div>

<div class="center">
  <h3>Tips from the ceo</h3>
</div>
<!-- the json we pick from mock https://mocki.io/v1/44a901a7-c205-49cf-b6d8-fa29baf68e5d -->
<div class="bg-yellow quote-container">
  <div class="card" *ngFor="let message of ceoMessages">
    <div class="uppercontainer" >
      <div class="margincard center">
        <h3><fa-icon [icon]="circlecheck" class="paddingicon"></fa-icon>{{message.title}}</h3>
      </div>
      <div>
        <p id="paddingparagraphs">{{message.excerpt}}</p>
      </div>
    </div>
    <div><h4 class="center">The planner</h4></div>
  </div>
</div>
    
<div class="center">
  <h3>Thank you for choosing us <fa-icon [icon]="thumbsUp"></fa-icon></h3>
</div>
<div class="center">
  <img src="../.././assets/good.gif" id="images" loading="lazy" alt="" srcset="">
</div>
<app-footer></app-footer>