<div class="card-display-even">
    <div class="card-columns">
        <div class="center">
            <img src="../../../../assets/garden.gif" alt="" srcset="" id="image-shrink">
        </div>
        <div>
            <h3 class="center">
                Got an outdoor event?
            </h3>
            <p class="paragraph">
                Is it a wedding? or maybe a craving for an outdoor activity from simple picnics to elegant
                wedding feasts, your one event planner has got you.
            </p>
        </div>
    </div>
    <div class="card-columns">
        <div class="center">
            <img src="../../../../assets/ideas.gif" alt="" srcset="" id="image-shrink">
        </div>
        <div>
            <h3 class="center">
                lacking ideas?
            </h3>
            <p class="paragraph">
                We have a wide range of proffesionals with different backgrounds and from different cultures to ensure we can adapt to your situation while giving you some creative options.
            </p>
        </div>
    </div>
    <div class="card-columns" id="hide">
        <div class="center">
            <img src="../../../../assets/house.gif" alt="" srcset="" id="image-shrink">
        </div>
        <div>
            <h3 class="center">
                Got an inhouse event?
            </h3>
            <p class="paragraph">
                We can help set up and do the decor inside to help with the aesthetic value while still taking to account your wishes on color choice and taste.
            </p>
        </div>
    </div>
</div>
