<div class="card-display-even">
    <div class="card-columns">
        <div>
            <img src="../../../../assets/logo2.png" alt="" srcset="" id="image-shrink">
        </div>
        <div>
            <h3>
                Got an outdoor event?
            </h3>
            <p>
                Is it a wedding? or maybe a craving for an outdoor activity from simple picnics to elegant
                wedding feasts, your one event planner has got you
            </p>
        </div>
    </div>
    <div class="card-columns">
        <div>
            <img src="../../../../assets/logo2.png" alt="" srcset="" id="image-shrink">
        </div>
        <div>
            <h3>
                Got an outdoor event?
            </h3>
            <p>
                Is it a wedding? or maybe a craving for an outdoor activity from simple picnics to elegant
                wedding feasts, your one event planner has got you
            </p>
        </div>
    </div>
    <div class="card-columns">
        <div>
            <img src="../../../../assets/logo2.png" alt="" srcset="" id="image-shrink">
        </div>
        <div>
            <h3>
                Got an outdoor event?
            </h3>
            <p>
                Is it a wedding? or maybe a craving for an outdoor activity from simple picnics to elegant
                wedding feasts, your one event planner has got you
            </p>
        </div>
    </div>
    <!-- <div class="card-columns">
        <div>
            <img src="../../../../assets/logo2.png" alt="" srcset="" id="image-shrink">
        </div>
        <div>
            <h3>
                Got an outdoor event?
            </h3>
            <p>
                Is it a wedding? or maybe a craving for an outdoor activity from simple picnics to elegant
                wedding feasts, your one event planner has got you
            </p>
        </div>
    </div> -->
</div>
