#primarylogin{
    z-index: 1;
background: #39CDCC;
border-radius: 25px;

padding-inline: 2rem;
padding-block: 0.3rem;

color: #fff;
// margin: 1em;
text-transform: uppercase;
text-decoration: none;
}
#primarylogin:hover{
    background-color:#fff;
    color: #333;
    transition: 1.2s ease-out;
}