<div class="holdingcontainer">
    

<div class="imgcustomised">
    <img class="imgcustomised" src="../.././assets/signin.svg" alt="" srcset="">
</div>
<div>
    <div class="center">
        <h2>Register now to continue...</h2>
    </div>
    <form class="centercustomised">
        <div class="registerfolder">
            <label for="">Please enter your name *</label>
        <input type="name" class="registerinput" name="name" placeholder="Email" required/>
        </div>
        <div class="registerfolder">
            <label for="">Please enter your phone number *</label>
        <input type="text" class="registerinput" name="name" placeholder="+254795836437" required />
        </div>
        <div class="registerfolder">
            <label for="">Please enter your email * </label>
        <input type="email" class="registerinput" name="name" placeholder="Email" required />
        </div>
        <div class="registerfolder">
            <label for="">Please confirm your email *</label>
        <input type="email" class="registerinput" name="name" placeholder="Confirm Email" required/>
        </div>
        <div class="space">
        <a type="button" id="registersubmitbutton" type="submit" value="LOG IN">Log in</a>
        </div>
      </form>
</div>
</div>
