<section class="wavy-footer">
    
        <div class="footertop">
            <div class="centercustomised">
                <h1>Start using our expertise today</h1>
                <div class="emailsend">
                    <input type="email" name="" id="emailinput" placeholder="Enter your Email">
                    <a type="button" id="imageemail">send<span><img src="../.././assets/Email-sent.png" alt="" srcset="" id="imagefooter"></span></a>

                </div>
            </div>
            <div class="center">
                <img src="../.././assets/Email.svg" alt="" srcset="" id="svg">
            </div>
            
        </div>
        <div class="wrapper">
        <div class="centerfooter" id="centercustomised">
            <div>
                <img src="../.././assets/logo11.png" alt="" srcset="" id="logofooter">
            </div>
            <div>
               <h3> We are the experts, contact us today for expert advice.</h3>
            </div>
        </div>
        <div class="centerfooter">
            <h2>Important links</h2>
            <a href="" class="links">Home</a>
            <a href="" class="links">Home</a>
            <a href="" class="links">Home</a>
            <a href="" class="links">Home</a>
            <a href="" class="links">Home</a>
            <a href="" class="links">Home</a>
        </div>
        <div class="centerfooter">
            <h2>Terms and conditions</h2>
            <a href="" class="links">Terms and conditions</a>
            <a href="" class="links">privacy policy</a>
            <a href="" class="links">cookies policy</a>
            <a href="" class="links">contribute?</a>
            <a href="" class="links">complain</a>
            <a href="" class="links">compliment</a>
        </div>
        <div class="centerfooter">
            <h2>Let's chat!</h2>
            <h5>Eventplanner.com</h5>
            <div class="socialmedia">
                <div>
                    <a href="http://">
                        <img src="../.././assets/instagram.png" alt="" srcset="">
                    </a>
                </div>
                <div>
                    <a href="http://">
                        <img src="../.././assets/facebook.png" alt="" srcset="">
                    </a>
                </div>
                <div>
                    <a href="http://">
                        <img src="../.././assets/twitter.png" alt="" srcset="">
                    </a>
                </div>
                <div>
                    <a href="http://">
                        <img src="../.././assets/linked.png" alt="" srcset="">
                    </a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="center">
        <div>
            <h3 class="centercopyright">@2023|Made with <img src="../.././assets/love.png" alt="" srcset="" style="width:1.5rem"> for you.</h3>
        </div>
    </div>

</section>
