@import '/src/themes.scss';
.article{
    padding-inline: 2rem;
}
.imgwhatexpected{
    width: 7rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: black;
}
.h1{
    font-size: x-large;
}
.h2{
    font-size: large;
}
.maincontainer{
    display: flex;
    flex-direction: row;
    padding-inline: 1rem;
    padding-top: .5rem;
    .imgwhatexpected2{
        width: 7rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #fff;
       
    }
}
.secondmaincontainer{
    padding-bottom: 1rem;
    padding-inline: 2rem;
}
.paragraph{
    font-size: medium;
    // font-weight: 300;
    font-family: MyTextFont;
}
.marg1{
    padding: 1rem;
}
.borderRadius{
    border-radius: 20px;
}
.wrapper1{
    background-color: $clr-yeellow;
    border-radius: 20px;
}
.wrapper2{
    background-color: $clr-secondary;
    color: white;
}
.wrapper3{
    background: $clr-tertiary;
    color: white;
}
.wrapper4{
    background: $clr-clear;
    color: black;
}
.wrapper5{
    background-color: $clr-tertiary;
    color: #fff;

}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
}
.article{
    display: grid;
    gap: 2rem;
    // grid-template-columns: repeat(4, 1fr);
}


@media (min-width:50em) {
    .grid-col-span2{
        grid-column: span 2;
    }
    .article{

        grid-template-columns: repeat(4, 1fr);
    }
    .wrappers:last-child{
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}