<div class="article">
    <div class="wrapper1 grid-col-span2 wrappers">
        <div class="maincontainer">
            <div class="center">
                <img src="../../../assets/journey.svg" alt="" class="imgwhatexpected">
            </div>
           <div class="marg1">
            <h3 class="h1 center">"Through the journey, </h3>
            <h5 class="h2 center">we hold your hand"</h5>
           </div>
        </div>
        <div class="secondmaincontainer">
            <p class="paragraph"> You are not alone, you will never be alone. We go with you through every process and are very interested in ensuring we make your dreams to come true. </p>
        </div>
    </div>
    <div class="wrapper2 wrappers">
        <div class="maincontainer">
            <div class="center">
                <img src="../../../assets/search-location.svg" alt="" class="imgwhatexpected2">
            </div>
           <div class="marg1">
            <h3 class="h1 center">"No venue?, </h3>
            <h5 class="h2 center">we've got you!"</h5>
           </div>
        </div>
        <div class="secondmaincontainer">
            <p class="paragraph">We give you ideas on where you can have the good time in accordance to your budget and wishes.</p>
        </div>
    </div>
    <div class="wrapper3 wrappers">
        <div class="maincontainer">
            <div class="center">
                <img src="../../../assets/reviews.svg" alt="" class="imgwhatexpected">
            </div>
           <div class="marg1">
            <h3 class="h1 center">"In need of five stars?, </h3>
            <h5 class="h2 center">we ae the best"</h5>
           </div>
        </div>
        <div class="secondmaincontainer">
            <p class="paragraph"> We ensure you get the best quality of advice that money can buy. we care that much about our dear clients. </p>
        </div>
    </div>
    <div class="wrapper4 wrappers grid-col-span2">
        <div class="maincontainer">
            <div class="center">
                <img src="../../../assets/support.gif" alt="" class="imgwhatexpected">
            </div>
           <div class="marg1">
            <h3 class="h1 center">"Through the journey, </h3>
            <h5 class="h2 center">we hold your hand"</h5>
           </div>
        </div>
        <div class="secondmaincontainer">
            <p class="paragraph"> We ensure you get the best quality of advice that money can buy. we care that much about our dear clients.
        Is it a wedding? or maybe a craving for an outdoor activity from simple picnics to elegant wedding feasts, your one event planner has got you </p>
        </div>
    </div>
    <div class="wrapper5 wrappers">
        <div class="maincontainer">
            <div class="center">
                <img src="../../../assets/journey.svg" alt="" class="imgwhatexpected">
            </div>
           <div class="marg1">
            <h3 class="h1 center">"Through the journey, </h3>
            <h5 class="h2 center">we hold your hand"</h5>
           </div>
        </div>
        <div class="secondmaincontainer">
            <p class="paragraph"> We ensure you get the best quality of advice that money can buy. we care that much about our dear clients.
        Is it a wedding? or maybe a craving for an outdoor activity from simple picnics to elegant wedding feasts, your one event planner has got you </p>
        </div>
    </div>
</div>