<div class="maincontainer formcenter">
    <div class="main">
        <section>
            <form action="" class="marginend">
                <h3>Hello <fa-icon [icon]="smile"></fa-icon></h3>
                <div>
                    <span><h2 class="overall-headings fonts"> Login now<span class="yellow">.</span></h2></span>
                </div>
                <div class="inputGroup first">
                    <input class="inputs"  type="email" id="email" required>
                    <label for="email">Your Email</label>
                </div>
                <div class="inputGroup first">
                    <input class="inputs" type="password" id="password" required>
                    <label for="password">password</label>
                </div>
                <div class="margincustomised">
                    <a routerLink="" class="primary-button">Log in</a>
                </div>
                
            </form>
        </section>
    </div>
    </div>