*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box;
}
.start{
    background-image: url("/assets/alternative-back.jpg");
    width: 100%;
    height: 80vh;
    height: 80dvh;
    background-size: cover;
    display: flex;
justify-content: center;
align-items: center;
position:relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(66, 65, 65, 0.3);
}
.middle{
    z-index: 1;
    text-transform: uppercase;
    color: #ffff;
font-style: normal;
font-weight: 600;
letter-spacing: 0.1em;
.middle2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

}
.mainholder{
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    gap: 1em;
    align-content: center;
    justify-content: center;
}
#arrow{
    width: 3rem;
    aspect-ratio: 1;
}
#paragraphs{
    margin-inline: 1.5em;
}


.imghere{
    width: 18rem;
}
.explanation{
    padding-inline: 1rem;
    padding-block: 2rem;
}
.explanationcontainer{
    justify-content: center;
    display: flex;
    text-align: center;
}
.margin-custom{
    padding-bottom: 1rem;
}
@media (min-width:35em) {
    .divided-evenly{
        grid-template-columns: 40% 1fr;
    }
    .divided-evenly-second{
        grid-template-columns: 1fr 40%;
    }
    .aboutus{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }
    
    
}
@media (max-width:50em) {
    .start{
        background-image: url("/assets/alternative-back.jpg");
        width: 100%;
        height: 65vh;
        height: 65dvh;
        background-size: cover;
        display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    }
    
}