<div id="maincontainer">
    <div class="start">
      <div class="overlay"></div>
      <div class="middle">
        <div class="middle2">
          <h1 class="fonts">"Your one stop</h1>
        </div>
        <div class="middle2">
          <h2 class="fonts">Event planner"</h2>
        </div>
        <div class="mainholder">
          <app-primarybutton></app-primarybutton>
        </div>
      </div>
    </div>
    <app-card></app-card>
    <div class="center">
      <span><h2 class="overall-headings fonts">What we do here</h2></span>
    </div>
    <div class="center">
      <p class="quote paddingconst"> “Limitations live only in our minds. But if we use our imaginations, our possibilities become limitless.” 
        -Jamie Paolinetti</p>
    </div>
    <div class="aboutus">
      <div class="center">
        <img class="imghere" src="../../../assets/team-planning.gif" alt="planning" srcset="">
      </div>
      <div class="mainaboutus">
        <div class="center"><h3>About us</h3></div>
        <div class="explanationcontainer">   
        <p class="explanation">We do Consultation and guidance, 
          Decor desiging and styling, 
          overall event planning
          On the day event Coordination and we also facilitate 
          hiring out tent tables and chairs. We basically do everything to do with the day coming not just to completion,
        but coming to a succesful completion.
        Most event planners will give a client an event according to their budget mostly but our aim is to bring a client ideas and vision to life in the most creative way regardless of their budget.
        Isn't that wonderful?
      </p>
      </div>
      <div class="center margin-custom"><a class="primary-button">Explore</a></div>
      </div>
    </div>
    
    <div class="center">
      <span><h2 class="overall-headings fonts">You're at the right place</h2></span>
    </div>
    <div class="center">
      <p>what to expect here</p>
    </div>
    <div class="center">
      <img
        id="arrow"
        src="../../../../assets/Arrow-up-down.gif"
        alt=""
        srcset=""
      />
    </div>

    <app-whatexpected></app-whatexpected>

    
    <h2 class="center overall-headings fonts margin-custom">Don't believe us?</h2>
    <h4 class="center margin-custom">See our projects below</h4>
    <!-- write the projects below -->
    <div class="center margin-custom">
      <a href="" class="primary-button">View projects</a>
    </div>
  <div class="poemTitle center">
    <h3>"A Poem on Life"</h3>
  </div>
    <div class="poem">
      <div>
        <span id="poems">
          Where we can ponder, celebrate, and reshape
  Not only what we are, where we are from,
  But what in the risk and moment of our day
  We may become
        </span>
        <div>
          <span class="poemcaption"> ~ from "JOSEPHINE MILES" - center</span>
        </div>
      </div>
  <div class="poemTitle center martop">
    <h3>"A Poem on Plentifulness"</h3>
  </div>
    <div class="poem">
      <div>
        <span id="poems">
          With doubt and dismay you are smitten

      You think there's no chance for you?
      
      Why, the best books haven't been written
      
      The best race hasn't been run,
      
      The best score hasn't been made yet,
      
      The best song hasn't been sung,
      
      The best tune hasn't been played yet,
      
      Cheer up, for the world is young!
        </span>
        <div>
          <span class="poemcaption"> ~ from "Bettorn Braley" - opportunity</span>
        </div>
      </div>
      
    

    </div>
    <app-cardsevents></app-cardsevents>
    
    <app-getinspired></app-getinspired>
    <app-footer></app-footer>
    
  </div>
  
  
