*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box;
    
    // overflow-x: hidden;
}
body{

}
html{
    color-scheme: dark light;
}

 
.start{
    background-image: url("/assets/alternative-back.jpg");
    width: 100%;
    height: 80vh;
    height: 80dvh;
    background-size: cover;
    display: flex;
justify-content: center;
align-items: center;
position:relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(66, 65, 65, 0.3);
}
.middle{
    z-index: 1;
    text-transform: uppercase;
    color: #ffff;
    font-family: 'Avenir Next';
font-style: normal;
font-weight: 600;
letter-spacing: 0.1em;
.middle2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

}
#primarylogin{
    z-index: 1;
}
.mainholder{
    z-index: 1;
}
.mainholder{
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    gap: 1em;
    align-content: center;
    justify-content: center;
}
#arrow{
    width: 3rem;
    aspect-ratio: 1;
}
#svg{
    width: 19.5rem;
    aspect-ratio: 1;
}
.divided-evenly{
    display: grid;
}
.divided-evenly-second{
    display: grid;
}
.center1{
    display: flex;
    justify-content: center;
    align-content: center;
}
.middle1{
    
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#svgeven{
    place-content: center;
    display: flex;
}
.centermobile{
    display: flex;
    place-content: center;
}
#paragraphs{
    margin-inline: 1.5em;
}
#seebutton2{
    background-color: #f2f7f7;
    text-transform: uppercase;
    padding-inline: 2rem;
    padding-block: 0.2rem;
    text-decoration: none;
    color: #000;
    margin-inline: auto;
    border-radius: 25px;
    border: 1px solid #333;  
}
#seebutton:hover{
background-color: #ffff;
color: #39cdcc;
transition: 2s ease-out;
}
#seebutton2:hover{
background-color: #333;
color: #39cdcc;
transition: 2s ease-out;
}
.background-diagonal{
    position: relative;
    
}


.footpictures{
    display: grid;
   grid-template-columns: 1;
   grid-template-rows: repeat(4,1fr);
    background: #000;
} 

.imghere{
    width: 18rem;
}
.explanation{
    padding-inline: 1rem;
    padding-block: 2rem;
}
.explanationcontainer{
    justify-content: center;
    display: flex;
    text-align: center;
}
.margin-custom{
    padding-bottom: 1rem;
}
@media (min-width:35em) {
    .divided-evenly{
        grid-template-columns: 40% 1fr;
        // gap: 1rem;
    }
    .divided-evenly-second{
        grid-template-columns: 1fr 40%;
        // gap: 1rem;
    }
    .aboutus{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }
    
    
}
@media (max-width:50em) {
    .start{
        background-image: url("/assets/alternative-back.jpg");
        width: 100%;
        height: 65vh;
        height: 65dvh;
        background-size: cover;
        display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    }
    
}