<div id="maincontainer">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="start">
    <div class="overlay"></div>
    <div class="middle">
      <div class="middle2">
        <h1>"roses are red, the sky is blue</h1>
      </div>
      <div class="middle2">
        <h2>we make your dreams come true"</h2>
      </div>
      <div class="mainholder">
        <div id="primarylogin">
          <app-primarybutton></app-primarybutton>
        </div>
        <div class="primaryexpplore">
          <app-secondarybutton></app-secondarybutton>
        </div>
      </div>
    </div>
  </div>
  <app-card></app-card>
  <div class="center">
    <span><h2>You're at the right place</h2></span>
  </div>
  <div class="center">
    <p>what to expect here</p>
  </div>
  <div class="center">
    <img
      id="arrow"
      src="../../../../assets/Arrow-up-down.gif"
      alt=""
      srcset=""
    />
  </div>
  <div class="divided-evenly">
    <div id="svgeven">
      <img src="./../../../assets/journey.svg" id="svg" alt="" srcset="" />
    </div>

    <div class="middle1">
      <div class="center">
        <h2 id="headings">We hold your hand.</h2>
      </div>
      <div class="center1">
        <div id="paragraphs">
          <p>
            We ensure you get the best quality of advice that money can buy. we
            care that much about our dear clients.
          </p>
          <p>
            Is it a wedding? or maybe a craving for an outdoor activity from
            simple picnics to elegant wedding feasts, your one event planner has
            got you
          </p>
          <div id="button">
            <a href="" type="button" id="seebutton">see how</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="background-diagonal">
  <div class="divided-evenly-second">
    <div class="middle1">
      <div class="center">
        <h2 id="headings">No venue? we got you!</h2>
      </div>
      <div class="center1">
        <div id="paragraphs">
          <p>
            We ensure you get the best quality of advice that money can buy. we
            care that much about our dear clients.
          </p>
          <p>
            Is it a wedding? or maybe a craving for an outdoor activity from
            simple picnics to elegant wedding feasts, your one event planner has
            got you
          </p>
          <div id="button">
            <a href="" type="button" id="seebutton2">potential places</a>
          </div>
        </div>
      </div>
    </div>
    <div id="svgeven">
      <img
        src="./../../../assets/search-location.svg"
        id="svg"
        alt=""
        srcset=""
      />
    </div>
  </div>
  </section>
  <div class="divided-evenly">
    <div id="svgeven">
      <img src="./../../../assets/reviews.svg" id="svg" alt="" srcset="" />
    </div>

    <div class="middle1">
      <div class="center">
        <h2 id="headings">Great services</h2>
      </div>
      <div class="center1">
        <div id="paragraphs">
          <p>
            We ensure you get the best quality of advice that money can buy. we
            care that much about our dear clients.
          </p>
          <p>
            Is it a wedding? or maybe a craving for an outdoor activity from
            simple picnics to elegant wedding feasts, your one event planner has
            got you
          </p>
          <div id="button">
            <a href="" type="button" id="seebutton">See our ratings</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="center">Don't believe us?</h2>
  <h4 class="center">See our projects below</h4>
  <app-cardsevents></app-cardsevents>
  <app-footer></app-footer>
</div>


<router-outlet></router-outlet>
