<section class="main">
        <div class="card">
            <div>
                <img id="rectangle" src="../.././assets/logo11.png" alt="logo picture now">
            </div>
            <div>
                <p id="explanation">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae perferendis
                     adipisci fugiat necessitatibus, dolore ipsa temporibus odit magnam nobis voluptas
                     aliquid ut soluta ab. Quos maiores sed distinctio ullam dolore.
                </p>
            </div>
            <div id="button">
                <a href="" type="button" id="seebutton">view</a>
              </div>
        </div>
        <div class="card">
            <div>
                <img id="rectangle" src="../.././assets/logo11.png" alt="logo picture now">
            </div>
            <div>
                <p id="explanation">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae perferendis
                     adipisci fugiat necessitatibus, dolore ipsa temporibus odit magnam nobis voluptas
                     aliquid ut soluta ab. Quos maiores sed distinctio ullam dolore.
                </p>
            </div>
            <div id="button">
                <a href="" type="button" id="seebutton">view</a>
              </div>
        </div>
        <div class="card">
            <div>
                <img id="rectangle" src="../.././assets/logo11.png" alt="logo picture now">
            </div>
            <div>
                <p id="explanation">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae perferendis
                     adipisci fugiat necessitatibus, dolore ipsa temporibus odit magnam nobis voluptas
                     aliquid ut soluta ab. Quos maiores sed distinctio ullam dolore.
                </p>
            </div>
            <div id="button">
                <a href="" type="button" id="seebutton">view</a>
              </div>
        </div>
       
</section>
 <div id="button" class="moreprojectsbutton">
    <a href="" type="button" id="seebutton">view more projects</a>
  </div>

