
  <div class="mainlogincontainer">

    <div class="logincontainer1 logincenter">
      <img src="../../../../assets/signin.svg" alt="" id="loginimage" />
    </div>

    <div class="logincontainer2 logincenter">
     <div>
      <h2 id="margin0">please login to continue!</h2>
      <form>
        <div>
        <input type="email" class="logininput" name="name" placeholder="Email" />
        </div>
        <div>
        <input type="password" class="logininput" name="name" placeholder="Password" />
        
        </div>
        <div>
        <a ><p id="forgotlogin">forgot password ?</p></a>
        </div>
      
        <div>
        <a type="button" id="loginsubmitbutton" type="submit" value="LOG IN">Log in</a>
        </div>
      </form>
     </div>
    </div>
  </div>