<div className="maincontainer">

    <div className="container1">
      <div id="logo">
        <img src="/images/union.svg" alt="" />
        <img src="/images/lendsqr.png" alt="" />
      </div>
      <img src="../../../../assets/signin.svg" alt="" />
    </div>

    <div className="container2">
      <div id="centerthis">
        <h1 id="head">Welcome!</h1>
        <p id="text">Enter details to login</p>
        <form>
          <div>
          <input id="input" type="email" name="name" placeholder="Email" />
          </div>
          <div id="original">
          <input id="input2" type="password" name="name" placeholder="Password" />
          <span id="toggle">show</span>
          </div>
          <div>
          <p id="forgot">forgot password</p>
          </div>
        
          <div>
          <input id="submit" type="submit" value="LOG IN"/>
          </div>
        </form>
      </div>
    </div>
    
  </div>