.logo{
    margin: .5rem;
}
.primary-header{
    align-items: center;
    justify-content: space-between;
    background:hsl(0 0% 100% /0.5);
    color:#fff
}
.mobile-nav-toggle{
    display: none;
}
.primary-navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 999999;
}
.primary-navigation a{
    text-decoration: none;
}
.primary-navigation a:hover{
    text-decoration: underline;
}
.primary-navigation a > [aria-hidden="true"]{
    font-size: 700;
    margin-inline-end: 0.75em;
}
@media (max-width:35em) {
    .primary-navigation{
        --gap:2em;
        position: fixed;
        inset: 0 0 0 30%;
        background: #fff;
        z-index: 1000;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: hsl(0 0% 100% /1);
        transition: transform 350ms ease-out;
        transform: translateX(100%);
    }
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        background: url('../../../../assets/menu.png');
        width: 2rem;
        background-repeat: no-repeat;
        border: none;
        aspect-ratio: 1;
        z-index: 9999;
    }
    .mobile-nav-toggle[aria-expanded="true"]{
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        background: url('../../../../assets/exit.png');
        width: 3rem;
        background-repeat: no-repeat;
        border: none;
        aspect-ratio: 1;
        z-index: 9999;
    }
    .primary-navigation[data-visible="true"]{
        transform: translateX(0);
    }
}
@supports (backdrop-filter: blur(.5rem)){
    .primary-navigation{
        background: hsl(0 0% 100% /0.5);
        backdrop-filter: blur(1rem);

    }
}
@media (min-width:35em) and (max-width:55em) {
    .primary-navigation a>span[aria-hidden="true"]{
display: none;
    }
    
}
@media (min-width:35em) {
    
    .primary-navigation{
        padding-block: 2rem;
        padding-inline:clamp(3rem, 10vw, 10rem) ;
    }
    
}