
<header class="primary-header flex">
    <div>
        <a routerLink=""><img class="logo" src="../assets/logo11.png" width="50px" height="50px" alt="" srcset=""></a>
    </div>
    <button aria-controls="primary-navigation" aria-expanded="false" class="mobile-nav-toggle"><span class="sr-only">Menu</span></button>
    <nav>
        <ul id="primary-navigation" class="primary-navigation flex" data-attribute="false">
            <li class="active">
                <a routerLink="/register">
                    <span aria-hidden="true"></span>REGISTER
                </a>
            </li>
            <li class="active">
                <a routerLink="/aboutus">
                    <span aria-hidden="true"></span>ABOUT US
                </a>
            </li>
       
        
            <li class="active">
                <a routerLink="/merchandise">
                    <span aria-hidden="true"></span>MERCHANDISE
                </a>
            </li>
        
        
            <li class="active">
                <a href="">
                    <span aria-hidden="true"></span>THIS
                </a>
            </li>
        
        
            <li class="active">
                <a href="">
                    <span aria-hidden="true">04</span>THIS
                </a>
            </li>
        </ul>
    </nav>
</header>

