
<header class="primary-header flex">
    <div>
        <img class="logo" src="../assets/logo11.png" width="50px" height="50px" alt="" srcset="">
    </div>
    <button aria-controls="primary-navigation" aria-expanded="false" class="mobile-nav-toggle"><span class="sr-only">Menu</span></button>
    <nav>
        <ul id="primary-navigation" class="primary-navigation flex" data-attribute="false">
            <li class="active">
                <a href="/login-component">
                    <span aria-hidden="true">00</span>HOME
                </a>
            </li>
            <li class="active">
                <a href="">
                    <span aria-hidden="true">01</span>THIS
                </a>
            </li>
       
        
            <li class="active">
                <a href="">
                    <span aria-hidden="true">02</span>THIS
                </a>
            </li>
        
        
            <li class="active">
                <a href="">
                    <span aria-hidden="true">03</span>THIS
                </a>
            </li>
        
        
            <li class="active">
                <a href="">
                    <span aria-hidden="true">04</span>THIS
                </a>
            </li>
        </ul>
    </nav>
</header>

