
<header class="primary-header flex">
    <div>
        <a routerLink=""><img class="logo" src="../assets/logo6.png" width="100px" height="50px" alt="" srcset=""></a>
    </div>
    <button aria-controls="primary-navigation" aria-expanded="false" class="mobile-nav-toggle"><span class="sr-only">Menu</span></button>
    <!-- or instead of using the span class to add the menu text you can use aria-label -->
    <nav>
        <ul id="primary-navigation" class="primary-navigation flex" data-attribute="false">
            <li >
                <a routerLink="" class="active">
                    <span aria-hidden="true"></span>HOME
                </a>
            </li>
            <li >
                <a routerLink="/register">
                    <span aria-hidden="true"></span>REGISTER
                </a>
            </li>
            <li class="active">
                <a routerLink="/aboutus">
                    <span aria-hidden="true"></span>ABOUT US
                </a>
            </li>
       
        
            <li class="active">
                <a routerLink="/merchandise">
                    <span aria-hidden="true"></span>MERCHANDISE
                </a>
            </li>
        
        
            <li class="active">
                <a href="/shop">
                    <span aria-hidden="true"><fa-icon [icon]="faShoppingCart"></fa-icon></span>SHOP
                </a>
            </li>
        
        
            <li class="active">
                <a href="/wishlist">
                    <span aria-hidden="true"><fa-icon [icon]="faRankingStar"></fa-icon></span>WISHLIST
                </a>
            </li>
            <li class="active primarymodes">
                <a href="/modes">
                    <span aria-hidden="true" class="black"><fa-icon [icon]="faStarAndCrescent"></fa-icon> MODES</span>
                </a>
            </li>
        </ul>
    </nav>
</header>

