<div class="maincontainer">
    <div class="heading-container text-white">
        <h3 class="overall-headings center">Get Inspired</h3>
        <div class="center">
            <p class="center paragraph">From our archives find some of the motivation ideas behind each and every of our events we have planned.
                You can trust One event planners for this is not a one man band. it is an orchestra with different players on the same page- of ensuring wonderful experience to all our clients </p>
        </div>
        
    
    </div>
    <div class="picture-container">
        <div class="img1 catalogue-images"></div>
        <div class="img2 catalogue-images"></div>
        <div class="img3 catalogue-images"></div>
        <div class="img4 catalogue-images"></div>
    </div>
    <div class="center marg">
        <a class="primary-button">see more</a>
    </div>
   
</div>
