#primarylogin{
    z-index: 1;
background: none;
border-radius: 15px;
padding: 1em;
// margin: 1em;
text-transform: uppercase;
color: #fff;
text-decoration: none;
border: 2px solid #39CDCC;
}
#primarylogin:hover{
    background-color:#fff;
    color: #333;
}