@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./themes.scss";
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: myHeadingFont;
}
body{
  overflow-x: hidden;
}
.flex{                       
display: flex;
gap: var(--gap, 1rem);    
}
.sr-only{
    left: -100vw;
  position: absolute;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#headings{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 120%;
}
#button{
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centercustomised{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#svg{
  width: 18rem;
}
.overall-headings{
  font-size: xx-large;
  font-weight: 900;
  line-height: normal;
  font-family: MyFont;
}
.primary-button{
  background-color:$clr-yeellow;
  text-transform: uppercase;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  text-decoration: none;
  color: $clr-secondary;
  margin-inline: auto;
  border-radius: 25px;
  border: 1px solid $clr-secondary;
}
.primary-button:hover{
  background-color: $clr-secondary;
  color: $clr-yeellow;
  border: 1px solid $clr-yeellow;  
  transition: 1s ease-out;
}
.fonts{
  font-family: MyFont;
}
.quote{
  font-family: MyQuoteFont;
  padding-inline: 1.5rem;
}
.text-danger{
  color: red;
}
.paddingconst{
  padding-block: 1rem;
}
@media (max-width:50em) {
  .overall-headings{
    font-weight: 900;
    line-height: normal;
  }
}