body{
  overflow-x: hidden;
}
.headings{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
display: flex;
gap: var(--gap, 1rem);    
}
.sr-only{
    left: -100vw;
  position: absolute;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
#headings{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 120%;
}