
$clr-primary:#ED254E;
$clr-secondary:#011936;
$clr-tertiary:#465662;
$clr-clear:#C2EABD;
$clr-yeellow:#f9dc5c;


body{
  overflow-x: hidden;
}
.headings{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{                       
display: flex;
gap: var(--gap, 1rem);    
}
.sr-only{
    left: -100vw;
  position: absolute;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
#headings{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 120%;
}
#button{
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#seebutton{
  background-color: #39cdcc;
  text-transform: uppercase;
  padding-inline: 2rem;
  padding-block: 0.2rem;
  text-decoration: none;
  color: #000;
  margin-inline: auto;
  border-radius: 25px;
  border: 1px solid #39cdcc;  
}
#seebutton:hover{
  background-color: #fffc;
  text-transform: uppercase;
  padding-inline: 2rem;
  padding-block: 0.2rem;
  text-decoration: none;
  color: #000;
  margin-inline: auto;
  border-radius: 25px;
  border: 1px solid #39cdcc;  
  transition: 2s ease-out;
}
.centercustomised{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#svg{
  width: 18rem;
}