<header class="primary-header headcss">
    <div class="content-in">
        <a routerLink=""><img class="logo" src="../assets/logo6.png" width="100px" height="50px" alt="" srcset=""></a>
    </div>
    <div class="content-in">
        <button  routerLink="./shop" class="primary-button"><fa-icon [icon]="faCartPlus"></fa-icon> Visit Shop</button>
    </div>
    
</header>
<h2 class="center bg-secondary">categories on offer</h2>

<div class="justifyend">
    <div class="margin">
        <input type="text" placeholder="What are you looking for today?" class="padding form-control" [(ngModel)]="filteredString"><fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </div>
    <div>
        
    </div>
    
</div>
<div class="mainmerchandise">
    <a routerLink="{{dataList.url}}" *ngFor="let dataList of productData | filters:filteredString" class="mainlink">
        <div class="card">
            <div  class="center">
                <img id="merchandiseimages"  class="center" src="{{dataList.url}}" alt="" srcset="" loading="lazy">
            </div>
            <div class="minicard">
                
                <a  routerLink="./shop" class="center">{{dataList.title}}</a>
                <div>
                    <p></p>
                </div>  
            </div>
        </div>
        
    </a>

    
</div>