<div class="maincontainer formcenter">
<div class="main">
    <section>
        <form action="" class="marginend">
            <h3>Get started</h3>
            <div>
                <span><h2 class="overall-headings fonts">Create a new account<span class="yellow">.</span></h2></span>
            </div>
            <div>
                <p>already a member? <a routerLink="/login">Log in</a></p>
            </div>
            <div class="inputGroup first">
                <input  class="inputs" type="text" id="firstName" required>
                <label for="firstName">Your Name</label>
            </div>
            <div class="inputGroup first">
                <input class="inputs"  type="email" id="email" required>
                <label for="email">Your Email</label>
            </div>
            <div class="inputGroup first">
                <input class="inputs" type="number" id="phoneNumber" required>
                <label for="phoneNumber">phone number</label>
            </div>
            <div class="inputGroup first">
                <input class="inputs" type="password" id="password" required>
                <label for="password">password</label>
            </div>
            <div class="inputGroup first">
                <input class="inputs" type="passwordconfirm" id="passwordconfirm" required>
                <label for="passwordconfirm"> Confirm password</label>
            </div>
            <div class="margincustomised">
                <a routerLink="" class="primary-button">Create account</a>
            </div>
            
        </form>
    </section>
</div>
</div>